@import url("https://itsfoxdev.github.io/resources/fonts/productsans/import.css");

@media (max-width: 450px){:root{--cgr: 1fr;}}
@media (min-width: 450px) and (max-width: 600px){:root{--cgr: 1fr 1fr;}}
@media (min-width: 600px) and (max-width: 800px){:root{--cgr: 1fr 1fr 1fr;}}
@media (min-width: 800px){:root{--cgr: 1fr 1fr 1fr 1fr;}}
*{
  font-family: Product Sans;
}
body{
  margin:0px;
  background: rgb(203,222,236);
  background: radial-gradient(circle, rgba(203,222,236,1) 0%, rgba(147,185,209,1) 100%); 
}
h1{
  font-weight:800;
  text-align:center;
  color:rgb(37, 36, 37);
  font-size:55px;
}
window{
  width:calc(100vw - 50px);
  max-width:1000px;
  display:block;
  margin:0px auto;
}
window section{
  display:none;
}
window[state="home"] section[type="home"]{
  display:grid;
}
section[type="home"]{
  grid-template-columns: var(--cgr);
  gap:10px;
}
.category{
  aspect-ratio: 3 / 2;
  cursor:pointer;
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.4);
  border-radius:25px;
  position:relative;
  display:block;
  overflow:hidden;
  transition: all .2s cubic-bezier(.37,0,.36,.98);
}
.category.ce:hover{
  scale:1.05;
  box-shadow: 0px 6px 30px -3px rgba(0,0,0,0.4);
}
.category.ce:active{
  scale:0.95;
  box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
}
.category img{
  width:100%;
  border-radius:10px;
  transition: all .2s cubic-bezier(.37,0,.36,.98),scale .3s cubic-bezier(.37,0,.36,.98);
}
.category:hover .cbg{
  scale:1.1;
}
.cfg{
  position:absolute;
  inset:0px;
}
.category.cselected{
  overflow:visible;
}
.category.cselected .cbg{
  position:fixed;
  inset:0px;
}